Package: com.sytem.pro
Name: systemPro
Version: 0.0.2-7
Architecture: iphoneos-arm64e
Description: systemPro — SpringBoard 功能增强套件（自研界面 · 手搓实现）
Maintainer: D
Author: D
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
